<% html_title "#{@project.name} mailing list" -%>
<h2> <%=h @project.name %> mailing list </h2>

This should show an iframe pointing to <b>/wws/arc/<%= @project.identifier %></b> or something similar.
